{% extends 'base.html' %}
{% block title %} TextSpeak {% endblock %}
{% block content %}
    <h1> {{task_id}} </h1>
    <p> Transcription in process, please wait! </p>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}